# {{ ansible_managed }}

[Unit]
Description=Atlassian Jira
After=syslog.target network.target

[Service]
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
PIDFile=/opt/atlassian/jira/work/catalina.pid
Type=forking
User={{ jira_owner }}
Group={{ jira_group }}

[Install]
WantedBy=multi-user.target
