# {{ ansible_managed }}

[Unit]
Description=Atlassian Jira
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=forking
User={{ jira_owner }}
Group={{ jira_group }}
ExecStart={{ jira_catalina }}/bin/start-jira.sh
ExecStop={{ jira_catalina }}/bin/stop-jira.sh
PIDFile={{ jira_catalina }}/work/catalina.pid

[Install]
WantedBy=multi-user.target
