# {{ ansible_managed }}

[Unit]
Description=Atlassian Jira
After=syslog.target

[Service]
User=daemon
Group=daemon
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
PIDFile=/opt/atlassian/jira/work/catalina.pid

[Install]
WantedBy=multi-user.target
